/*PROJECT CSS*/
// google font
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
// material design icon fonts
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css");
// css reset
@import "../../node_modules/scss-reset/src/scss/_reset.scss";
//VARS
$containerWidth: min(100% - 2rem, 60rem);
$assetsPath: "../images/";

$bright: #ffcb77;
$bright2: #fe6d73;
$main: #227c9d;
$main2: #17c3b2;
$light: #fef9ef;
$dark: #323031;
$greydark: #0c1e24;
$greylight: #e2e8f0;
$greylight2: #eff2f7;
$font: "Open Sans", sans-serif;
$border-radius: 5px;
body {
    align-items: center;
    background-color: $light;
    color: $dark;
    font-family: $font;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.3em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 0.8em;
}
h6 {
    font-size: 0.7em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    .sidebar {
        background-color: $main;
        color: white;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 20px;
        .logo {
            align-items: center;
            display: flex;
            font-weight: bold;
            gap: 6px;
            span {
                font-size: 2em;
            }
        }
        nav {
            li {
                margin-bottom: 5px;
            }
            a {
                color: white;
                text-decoration: none;
            }
            .mdi::before {
                margin-right: 10px;
            }
        }
    }
    header {
        background-color: white;
    }
    .main-content {
        .card {
            background-color: $greylight2;
            border-left: solid 5px $bright;
            border-radius: 6px;
            box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
            color: $dark;
            display: block;
            padding: 1.25rem;
        }
        header {
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
            padding: 20px;
            position: relative;
            z-index: 1;
            .header-top {
                display: flex;
                gap: 20px;
                justify-content: space-between;
                margin-bottom: 30px;
                .profile-name {
                    font-weight: bold;
                    @extend .hidden-sm;
                }
                .search {
                    align-items: center;
                    display: flex;
                    gap: 5px;
                    width: clamp(200px, 60vw, 400px);

                    #search {
                        background-color: $greylight;
                        border: none;
                        border-radius: $border-radius;
                        flex: 1;
                        font-size: 0.5em;
                        padding: 8px 4px;
                    }
                    .icon-search {
                        &.mdi::before {
                            content: "\F0349";
                        }
                    }
                }
                .login-info {
                    align-items: center;
                    display: flex;
                    gap: 20px;
                }
            }
            .header-bottom {
                align-items: center;
                display: flex;
                justify-content: space-between;
                .profile-info {
                    align-items: center;
                    display: flex;
                    flex: 1;
                    gap: 10px;
                    .profile-name {
                        font-size: 1.25em;
                        font-weight: bold;
                        span {
                            display: block;
                            font-size: small;
                        }
                    }
                }
                nav.actions {
                    flex: 1;
                    text-align: right;
                }
            }
        }
        .profile-icon {
            border-radius: 60px;
            max-height: 60px;
            width: 60px;
            &.small {
                max-height: 40px;
                width: 40px;
            }
        }
        main {
            background-color: $greylight;
            display: grid;
            gap: 20px;

            grid-template-columns: 3fr 1fr;
            grid-template-rows: 1fr 1fr;
            padding: 20px;
            .projects {
                h3 {
                    margin-bottom: 20px;
                }
                .cards {
                    display: grid;
                    gap: 20px;
                    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

                    .card {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        p {
                            flex: 1;
                        }
                        .card-actions {
                            align-self: flex-end;
                            span {
                                margin: 0 5px;
                            }
                        }
                    }
                }
            }
            aside {
                h3 {
                    margin-bottom: 20px;
                }
                .card {
                    padding: 20px 10px;
                }
                .annoucements {
                    margin-bottom: 20px;

                    ul {
                        li {
                            border-bottom: solid 1px $greylight;
                            margin-bottom: 10px;
                            padding-bottom: 20px;
                            p {
                                font-size: 0.8em;
                            }
                        }
                    }
                }
                .trending {
                    .card {
                        ul {
                            li {
                                display: grid;
                                font-size: small;
                                gap: 0px 5px;
                                grid-template-areas: "img title" "img subtitle";
                                grid-template-columns: 50px auto;
                                margin-bottom: 20px;
                                img {
                                    border-radius: 50px;
                                    grid-area: img;
                                }
                                span.title {
                                    font-weight: bold;
                                    grid-area: title;
                                }
                                p {
                                    grid-area: subtitle;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.footer {
    background-color: $greydark;
    color: white;
}
// common styles
.button,
button {
    background-color: $bright;
    border-color: transparent;
    border-radius: $border-radius;
    color: $dark;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    &:hover,
    &:active {
        background-color: darken($bright, 20);
    }
}
@media only screen and (max-width: 700px) {
    main {
        grid-template-columns: 1fr;
    }
    .container .main-content header .header-top .search {
        width: clamp(200px, 40vw, 409px);
    }
    .button,
    button {
        font-size: small;
    }
}
@media only screen and (max-width: 500px) {
}
@media only screen and (max-width: 400px) {
}
@media only screen and (min-width: 960px) {
}

@media only screen and (min-width: 1280px) {
}

@media only screen and (min-width: 1920px) {
}
.hidden-sm {
    @media only screen and (max-width: 700px) {
        display: none;
    }
}
