/*PROJECT CSS*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
body {
  align-items: center;
  background-color: #323031;
  color: #ffcb77;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
